.win-rating .win-star {
  height: 14px;
  width: 14px;
  font-size: 14px;
  padding: 3px;
}

#root  {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
}
#root .name {
    font-size: 28px;
}

#root .container {
    width: 100px;
    height: 90px;
    border: 2px solid black;
    padding: 3px;
    /*margin: 3px;*/
    font-size: 9px;
}

#root .container {
    display: flex;
    flex-direction: column;
}
#root .container .text {
    flex:1;
}

#root .letter {
    font-size: 28px;
    text-align: center;
}

.win-hub-section-content {
    display: flex;
}
.win-hub-horizontal .win-hub-surface {
    padding: 0px;
}
.win-hub-horizontal .win-hub-section-header {
    margin: 0px;
}
.win-hub-horizontal .win-hub-section-content {
    height: calc(100% - 68px);
}

.hubSectionLetterContainer {
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
.hubSectionLetterContainer .item {
    width: 150px;
    height: 75px;
}

#app {
    height: 100%;
}

/* SplitView pane content style*/
#app .header {
    white-space: nowrap;
}

#app .title {
    font-size: 25px;
    left: 50px;
    margin-top: 6px;
    vertical-align: middle;
    display: inline-block;
}

#app .nav-commands {
    margin-top: 20px;
}

.win-navbarcommand-button {
    background-color: transparent;
}

#app .win-splitview-pane-hidden .win-navbarcommand-button {
    width: 46px;
}

#app .win-splitview-pane-hidden .win-navbarcommand-label {
    /* Workaround: Make sure pane doesn't scroll if ContentDialog restores focus to
       NavBarCommand's label
    */
    visibility: hidden;
}

#app .win-splitview-pane {
  background-color: rgb(224,228,204);
}

/*SplitView content style*/
#app .win-splitview-content {
    background-color: rgb(105,210,231);
}

#app .contenttext {
    margin-left: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    height: calc(100% - 6px - 6px); /* Subtract vertical margins */
}

#app .content {
    height: calc(100% - 132px); /* Substract height of app header */
}

.simpleList {
    height: calc(100% - 104px); /* Substract height of app header */
    overflow-x: auto;
}

/*SplitView pane show button style*/
button.win-splitview-button {
    float: left;
    box-sizing: border-box;
    height: 48px;
    width: 48px;
    min-height: 0;
    min-width: 0;
    padding: 0;
    border: 1px dotted transparent;
    margin: 0;
    outline: none;
    background-color: transparent;
}

html.win-hoverable button.win-splitview-button:hover {
    background-color: rgba(255,255,255, 0.1);
}

button.win-splitview-button.win-splitview-button:active,
button.win-splitview-button.win-splitview-button:hover:active {
    background-color: rgba(255,255,255, 0.2);
}

button.win-splitview-button.win-keyboard:focus {
    border-color: rgb(255, 255, 255);
}

button.win-splitview-button:after {
    font-size: 24px;
    font-family: 'Segoe MDL2 Assets', 'Symbols';
    content: "\E700";
}
